<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/auth/register}" th:method="POST" th:object="${user}">

    <input type="text" name="firstname" placeholder="First name" th:field="*{firstname}">
    <br>
    <input type="text" name="lastname" placeholder="Last name" th:field="*{lastname}">
    <br>
    <input type="text" name="email" placeholder="Email" th:field="*{email}">
    <br>
    <input type="text" name="password" placeholder="Password" th:field="*{password}">
    <br>

    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
    <input type="submit" value="Зарегестрироваться"/>
</form>
</body>
</html>